*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 750px;
    height: 300px;
    border: 4px solid black;
    margin: auto;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    position: absolute;
    margin-left: 570px;
    margin-top: 250px;
    border-radius: 5%;
    cursor: pointer;
    

}
body {
    background-image:url(https://cutewallpaper.org/21/pixel-art-background-1920x1080/8-Bit-City-Background-1920x1080-Drkenfreedmanblog.xyz.gif);
    font-family: Helvetica;
    cursor: default;
    

}
#character{
    width: 20px;
    height: 50px;
    background-color:purple;
    position:relative;
    top: 150px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}

#button {
    position: absolute;
    margin-top: 600px;
    margin-left: 850px;
    width: 150px;
    height: 50px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    border:black 2px;
    border-radius: 10%;
    cursor:pointer;
    
}

p{
    text-align: center;
    font-weight: 900;
    font-family: Helvetica;
    position: absolute;
    margin-top: 220px;
    margin-left:910px;
}
.h1 {
    position:absolute;
    margin-top: 40px;
    margin-left: 700px;
    font-size: 90px;
}
.h4 {
    position:absolute;
    margin-top :150px;
    margin-left:830px;
    font-size: 25px;
}
.h5 {
    position:absolute;
    margin-top: 190px;
    margin-left:850px;
    font-weight: 800;
}